[submodule "public/wasm/constraints"]
	path = public/wasm/constraints
	url = https://github.com/Arnav-Bista/constraints
[submodule "public/was/evolve"]
	path = public/was/evolve
	url = https://github.com/Arnav-Bista/evolve
