@import "./globals.css";

.layers {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

.layers > div {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 50%;
}

.layers .highlight {
  background: radial-gradient(circle at center,
      var(--highlight-color),
      transparent 50%);
  background-size: 70rem 70rem;
  background-repeat: no-repeat;
  animation: move-color 20s ease infinite;
  mix-blend-mode: color;
}

.layers .complement {
  background: radial-gradient(circle at center,
      var(--highlight-complement),
      transparent 50%);
  background-size: 60rem 60rem;
  background-repeat: no-repeat;
  animation: move-color-m 17s ease infinite;
  mix-blend-mode: saturation;
}

.layers .third {
  background: radial-gradient(circle at center,
      var(--third-color),
      transparent 50%);
  background-size: 70rem 70rem;
  background-repeat: no-repeat;
  animation: move-color-opp 25s ease infinite;
  mix-blend-mode: hue;
}

@keyframes move-color {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
}

@keyframes move-color-m {
  0%, 100% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
}


@keyframes move-color-opp {
  0%, 100% {
    background-position: 50% 100%;
  }
  25% {
    background-position: 75% 0%;
  }
  50% {
    background-position: 25% 50%;
  }
  75% {
    background-position: 100% 100%;
  }
}
